* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

.gradient-custom-3 {
 background-image:url(/Proyecto_2/img/cinema-img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100%;

}
.gradient-custom-4 {
  /* fallback for old browsers */
  background: #84fab0;}



.modal-wrapper {
	background-color: rgba(0, 0, 0, 0.3);
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: all 0.3s ease-in-out;
	z-index: -1;
}
.open {
	opacity: 1;
	z-index: 999;
}

.border-success {
	border: 2px solid green !important; 
  color: green;
}

.border-error {
	border: 2px solid red !important; 
  color: red;

}



.small-error, small {
    font-weight: bold;
    color: red;
}
.small-success, small {
    font-weight: bold;
    color: green;
}
.modal1 {
	background-color: #fff;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	width: 380px;
	max-width: 95%;
}


.modalBody {
	padding: 15px 20px;
}

.modalBody h1	 {
	margin: 0;
}


.modalFooter {
	background-color: #eee;
	padding: 15px 0;
}

#spinner {
    display: none;
    justify-content: center;
    padding: 3rem 0;
}


.sk-chase {
    width: 40px;
    height: 40px;
    position: relative;
    animation: sk-chase 2.5s infinite linear both;
  }
  
  .sk-chase-dot {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; 
    animation: sk-chase-dot 2.0s infinite ease-in-out both; 
  }
  
  .sk-chase-dot:before {
    content: '';
    display: block;
    width: 25%;
    height: 25%;
    background-color: #0288d1;
    border-radius: 100%;
    animation: sk-chase-dot-before 2.0s infinite ease-in-out both; 
  }
  
  .sk-chase-dot:nth-child(1) { animation-delay: -1.1s; }
  .sk-chase-dot:nth-child(2) { animation-delay: -1.0s; }
  .sk-chase-dot:nth-child(3) { animation-delay: -0.9s; }
  .sk-chase-dot:nth-child(4) { animation-delay: -0.8s; }
  .sk-chase-dot:nth-child(5) { animation-delay: -0.7s; }
  .sk-chase-dot:nth-child(6) { animation-delay: -0.6s; }
  .sk-chase-dot:nth-child(1):before { animation-delay: -1.1s; }
  .sk-chase-dot:nth-child(2):before { animation-delay: -1.0s; }
  .sk-chase-dot:nth-child(3):before { animation-delay: -0.9s; }
  .sk-chase-dot:nth-child(4):before { animation-delay: -0.8s; }
  .sk-chase-dot:nth-child(5):before { animation-delay: -0.7s; }
  .sk-chase-dot:nth-child(6):before { animation-delay: -0.6s; }

 @keyframes sk-chase {
    100% { transform: rotate(360deg); } 
  }
  
  @keyframes sk-chase-dot {
    80%, 100% { transform: rotate(360deg); } 
  }
  
  @keyframes sk-chase-dot-before {
    50% {
      transform: scale(0.4); 
    } 100%, 0% {
      transform: scale(1.0); 
    } 
  }
